<header class="page-header">
    <h2>Dashboard</h2>
    </header>

<div class="stat-cards">
    <div class="card card-gradient-blue">
        <p>Sisa Saldo Biaya</p>
        <h3 id="dashboard-saldo-biaya">Rp 0</h3>
    </div>
    <div class="card card-gradient-green"><p>Paid Invoices</p><h3 id="paid-invoices">0</h3></div>
    <div class="card card-gradient-orange"><p>Unpaid Invoices</p><h3 id="unpaid-invoices">0</h3></div>
    <div class="card card-gradient-gray"><p>Total Invoices Sent</p><h3 id="total-sent">0</h3></div>
</div>

<div class="main-widgets">
    <div class="widget-balance card card-gradient-blue">
        <h3>Wallet Balance</h3>
        <h1 id="wallet-balance">$0.00</h1>
        <p id="wallet-change">+0.0%</p>
    </div>
    <div class="widget-overview card">
        <h3>Card's Overview</h3>
        <p>(Data Chart akan ada di sini)</p>
    </div>
</div>